In [5]:
import pandas as pd
data = pd.read_excel("/home/wathelet/projet_data/python_chomage/chomage_zone.xls", "txcho_ze", skiprows = 5)
data

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
0,0050,Mont-de-Marsan,0.0,interrégional,6.0,6.1,6.0,6.3,6.4,6.2,...,7.3,7.4,7.1,7.0,6.7,6.8,6.7,6.7,6.5,6.1
1,0051,Alençon,0.0,interrégional,7.2,7.5,7.2,7.6,7.7,7.4,...,8.3,8.6,8.4,8.4,8.1,8.1,7.9,7.9,7.8,7.4
2,0052,Cosne-Clamecy,0.0,interrégional,7.5,7.6,7.4,7.8,8.0,7.7,...,8.1,8.3,8.1,7.9,7.5,7.5,7.2,7.4,7.2,6.8
3,0053,Mâcon,0.0,interrégional,5.3,5.3,5.2,5.3,5.4,5.4,...,6.4,6.5,6.5,6.4,6.3,6.4,6.3,6.3,6.1,5.9
4,0054,Nogent-le-Rotrou,0.0,interrégional,5.9,6.3,6.4,7.0,7.3,7.2,...,8.1,8.3,8.1,8.0,7.9,7.9,7.8,8.0,7.4,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,9404,Bastia,94.0,Corse,9.2,8.9,8.9,9.3,9.4,9.3,...,9.7,10.1,9.7,9.4,9.2,9.2,8.8,8.5,8.2,7.9
301,9405,Calvi-L'Île-Rousse,94.0,Corse,11.7,11.4,11.2,11.4,11.2,11.5,...,11.6,12.5,12.2,11.9,11.4,11.6,11.0,10.8,10.5,10.1
302,9406,Corte,94.0,Corse,8.3,7.6,8.2,8.1,8.0,8.0,...,8.5,8.9,8.9,8.6,7.8,8.2,7.6,7.3,7.1,7.3
303,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,10.0,10.6,10.4,10.1,9.9,10.0,9.4,9.4,9.0,8.6
304,"Source : Insee, Estimations de taux de chômage...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
print(data.columns.values)

['ZE2010' 'LIBZE2010' 'REG' 'LIBREG' '2003-T1' '2003-T2' '2003-T3'
 '2003-T4' '2004-T1' '2004-T2' '2004-T3' '2004-T4' '2005-T1' '2005-T2'
 '2005-T3' '2005-T4' '2006-T1' '2006-T2' '2006-T3' '2006-T4' '2007-T1'
 '2007-T2' '2007-T3' '2007-T4' '2008-T1' '2008-T2' '2008-T3' '2008-T4'
 '2009-T1' '2009-T2' '2009-T3' '2009-T4' '2010-T1' '2010-T2' '2010-T3'
 '2010-T4' '2011-T1' '2011-T2' '2011-T3' '2011-T4' '2012-T1' '2012-T2'
 '2012-T3' '2012-T4' '2013-T1' '2013-T2' '2013-T3' '2013-T4' '2014-T1'
 '2014-T2' '2014-T3' '2014-T4' '2015-T1' '2015-T2' '2015-T3' '2015-T4'
 '2016-T1' '2016-T2' '2016-T3' '2016-T4' '2017-T1' '2017-T2' '2017-T3'
 '2017-T4' '2018-T1' '2018-T2' '2018-T3' '2018-T4' '2019-T1' '2019-T2'
 '2019-T3' '2019-T4' '2020-T1']

In [35]:
data['LIBREG'].value_counts()

Auvergne-Rhône-Alpes          35
Nouvelle-Aquitaine            31
Grand-Est                     31
Occitanie                     30
Hauts-de-France               26
Bourgogne-Franche-Comté       23
Normandie                     20
Pays de la Loire              19
Ile-de-France                 19
Centre-Val-de-Loire           19
Bretagne                      18
Provence-Alpes-Côte d'Azur    17
interrégional                  9
Corse                          7
Name: LIBREG, dtype: int64

In [67]:
print(data.loc[data["LIBREG"] == "Provence-Alpes-Côte d'Azur"].head())

    ZE2010        LIBZE2010   REG                      LIBREG  2003-T1  \
280   9301  Digne-les-Bains  93.0  Provence-Alpes-Côte d'Azur      7.5
281   9302         Manosque  93.0  Provence-Alpes-Côte d'Azur     10.0
282   9303         Briançon  93.0  Provence-Alpes-Côte d'Azur      7.0
283   9304              Gap  93.0  Provence-Alpes-Côte d'Azur      7.0
284   9305   Cannes-Antibes  93.0  Provence-Alpes-Côte d'Azur      9.5

     2003-T2  2003-T3  2003-T4  2004-T1  2004-T2  ...  2017-T4  2018-T1  \
280      7.6      7.2      7.6      7.7      7.5  ...     10.7     11.0
281     10.1      9.8      9.8      9.9      9.7  ...     11.2     11.6
282      7.1      7.0      7.4      7.4      7.4  ...      8.2      8.4
283      7.0      6.9      7.1      7.3      7.1  ...      8.2      8.3
284      9.7      9.4      9.5      9.5      9.3  ...      9.8     10.1

     2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  2020-T1
280     10.7     10.6     10.4     10.3     10.0      9.8      9.4      9.1
281     11.4     11.1     10.9     11.0     10.6     10.5     10.0      9.6
282      8.3      8.4      8.2      8.3      8.3      8.0      7.9      7.5
283      8.3      8.2      8.0      8.0      7.7      7.5      7.2      7.0
284      9.9      9.7      9.5      9.5      9.1      9.1      8.7      8.5

[5 rows x 73 columns]

In [7]:
data2 = data.loc[data["LIBREG"] == "Provence-Alpes-Côte d'Azur"]

In [8]:
print(data2['LIBZE2010'].value_counts())

Digne-les-Bains             1
Fréjus-Saint Raphaël        1
Aix-en-Provence             1
Marseille-Aubagne           1
Cannes-Antibes              1
Salon-de-Provence           1
Draguignan                  1
Arles                       1
Istres-Martigues            1
Manosque                    1
Toulon                      1
Gap                         1
Menton Vallée de la Roya    1
Orange                      1
Nice                        1
Cavaillon-Apt               1
Briançon                    1
Name: LIBZE2010, dtype: int64

In [31]:
data_t1_2020 = eval('data2["2020-T1"] > 7.1')
print(data_t1_2020)

280     True
281     True
282     True
283    False
284     True
285    False
286     True
287    False
288     True
289     True
290     True
291     True
292     True
293     True
294     True
295     True
296     True
Name: 2020-T1, dtype: bool

In [10]:
data_t1_2019 = eval('data2["2019-T1"] > 7.1')
print(data_t1_2019)

280    True
281    True
282    True
283    True
284    True
285    True
286    True
287    True
288    True
289    True
290    True
291    True
292    True
293    True
294    True
295    True
296    True
Name: 2019-T1, dtype: bool

In [11]:
data_t1_2018 = eval('data2["2018-T1"] > 7.1')
print(data_t1_2018)

280    True
281    True
282    True
283    True
284    True
285    True
286    True
287    True
288    True
289    True
290    True
291    True
292    True
293    True
294    True
295    True
296    True
Name: 2018-T1, dtype: bool

In [12]:
data_7_1 = [data_t1_2020 & data_t1_2019 & data_t1_2018]
print(data_7_1)

[280     True
281     True
282     True
283    False
284     True
285    False
286     True
287    False
288     True
289     True
290     True
291     True
292     True
293     True
294     True
295     True
296     True
dtype: bool]

In [13]:
bo = pd.DataFrame(data_t1_2020 & data_t1_2019 & data_t1_2018, columns = ['booleen'])
print(bo)

     booleen
280     True
281     True
282     True
283    False
284     True
285    False
286     True
287    False
288     True
289     True
290     True
291     True
292     True
293     True
294     True
295     True
296     True

In [14]:
print(bo['booleen'].value_counts())

True     14
False     3
Name: booleen, dtype: int64

In [23]:
p_emploi= pd.read_excel("/home/wathelet/projet_data/python_chomage/pole_emploi.xlsx", "Data", skiprows = 3)
p_emploi

    Code                     Libellé  Pôle emploi 2018
0      1                  Guadeloupe                17
1      2                  Martinique                11
2      3                      Guyane                 8
3      4                  La Réunion                17
4      6                     Mayotte                 3
5     11               Île-de-France               164
6     24         Centre-Val de Loire               116
7     27     Bourgogne-Franche-Comté               165
8     28                   Normandie               145
9     32             Hauts-de-France               171
10    44                   Grand Est               238
11    52            Pays de la Loire               104
12    53                    Bretagne                91
13    75          Nouvelle-Aquitaine               251
14    76                   Occitanie               262
15    84        Auvergne-Rhône-Alpes               294
16    93  Provence-Alpes-Côte d'Azur               145
17    94                       Corse                31

In [49]:
fusion = pd.merge(data , p_emploi, left_on = 'REG', right_on= 'Code' )
fusion

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1,Code,Libellé,Pôle emploi 2018,quantile
0,0060*,Saint-Étienne,84.0,Auvergne-Rhône-Alpes,8.0,8.2,8.1,8.4,8.6,8.3,...,8.3,8.4,8.1,8.3,8.0,7.7,84,Auvergne-Rhône-Alpes,294,q100
1,8201,Ambérieu-en-Bugey,84.0,Auvergne-Rhône-Alpes,5.7,5.8,5.6,6.0,6.2,6.0,...,6.2,6.2,6.1,6.3,6.0,5.8,84,Auvergne-Rhône-Alpes,294,q100
2,8202,Bourg-en-Bresse,84.0,Auvergne-Rhône-Alpes,4.5,4.7,4.6,4.8,4.9,4.9,...,6.4,6.4,6.3,6.5,6.2,5.9,84,Auvergne-Rhône-Alpes,294,q100
3,8203,Oyonnax,84.0,Auvergne-Rhône-Alpes,6.8,6.9,7.2,7.7,7.8,7.5,...,7.6,7.6,7.4,7.4,7.3,7.2,84,Auvergne-Rhône-Alpes,294,q100
4,8204,Annonay,84.0,Auvergne-Rhône-Alpes,7.6,8.0,8.0,8.1,8.1,7.8,...,8.2,8.2,7.9,7.9,7.7,7.3,84,Auvergne-Rhône-Alpes,294,q100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,9403,Sartène-Propriano,94.0,Corse,10.7,10.7,10.4,10.0,10.5,10.4,...,10.1,10.0,9.5,9.6,9.5,9.4,94,Corse,31,q50
291,9404,Bastia,94.0,Corse,9.2,8.9,8.9,9.3,9.4,9.3,...,9.2,9.2,8.8,8.5,8.2,7.9,94,Corse,31,q50
292,9405,Calvi-L'Île-Rousse,94.0,Corse,11.7,11.4,11.2,11.4,11.2,11.5,...,11.4,11.6,11.0,10.8,10.5,10.1,94,Corse,31,q50
293,9406,Corte,94.0,Corse,8.3,7.6,8.2,8.1,8.0,8.0,...,7.8,8.2,7.6,7.3,7.1,7.3,94,Corse,31,q50
294,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,9.9,10.0,9.4,9.4,9.0,8.6,94,Corse,31,q50

In [51]:
fusion['quantile'] = pd.qcut(fusion ['Pôle emploi 2018'] , q = 4 , labels = ['q25', 'q50' , 'q75', 'q100'])
fusion

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1,Code,Libellé,Pôle emploi 2018,quantile
0,0060*,Saint-Étienne,84.0,Auvergne-Rhône-Alpes,8.0,8.2,8.1,8.4,8.6,8.3,...,8.3,8.4,8.1,8.3,8.0,7.7,84,Auvergne-Rhône-Alpes,294,q100
1,8201,Ambérieu-en-Bugey,84.0,Auvergne-Rhône-Alpes,5.7,5.8,5.6,6.0,6.2,6.0,...,6.2,6.2,6.1,6.3,6.0,5.8,84,Auvergne-Rhône-Alpes,294,q100
2,8202,Bourg-en-Bresse,84.0,Auvergne-Rhône-Alpes,4.5,4.7,4.6,4.8,4.9,4.9,...,6.4,6.4,6.3,6.5,6.2,5.9,84,Auvergne-Rhône-Alpes,294,q100
3,8203,Oyonnax,84.0,Auvergne-Rhône-Alpes,6.8,6.9,7.2,7.7,7.8,7.5,...,7.6,7.6,7.4,7.4,7.3,7.2,84,Auvergne-Rhône-Alpes,294,q100
4,8204,Annonay,84.0,Auvergne-Rhône-Alpes,7.6,8.0,8.0,8.1,8.1,7.8,...,8.2,8.2,7.9,7.9,7.7,7.3,84,Auvergne-Rhône-Alpes,294,q100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,9403,Sartène-Propriano,94.0,Corse,10.7,10.7,10.4,10.0,10.5,10.4,...,10.1,10.0,9.5,9.6,9.5,9.4,94,Corse,31,q25
291,9404,Bastia,94.0,Corse,9.2,8.9,8.9,9.3,9.4,9.3,...,9.2,9.2,8.8,8.5,8.2,7.9,94,Corse,31,q25
292,9405,Calvi-L'Île-Rousse,94.0,Corse,11.7,11.4,11.2,11.4,11.2,11.5,...,11.4,11.6,11.0,10.8,10.5,10.1,94,Corse,31,q25
293,9406,Corte,94.0,Corse,8.3,7.6,8.2,8.1,8.0,8.0,...,7.8,8.2,7.6,7.3,7.1,7.3,94,Corse,31,q25
294,9407,Ghisonaccia-Aléria,94.0,Corse,9.6,8.8,9.0,9.4,9.6,9.7,...,9.9,10.0,9.4,9.4,9.0,8.6,94,Corse,31,q25

In [55]:
print(pd.pivot_table(fusion , values = '2020-T1', columns = 'quantile' , index = 'LIBREG' ))

quantile                         q25       q50       q75      q100
LIBREG
Auvergne-Rhône-Alpes             NaN       NaN       NaN  6.728571
Bourgogne-Franche-Comté          NaN  6.565217       NaN       NaN
Bretagne                    6.661111       NaN       NaN       NaN
Centre-Val-de-Loire         7.684211       NaN       NaN       NaN
Corse                       8.514286       NaN       NaN       NaN
Grand-Est                        NaN       NaN  7.264516       NaN
Hauts-de-France                  NaN  9.911538       NaN       NaN
Ile-de-France                    NaN  6.794737       NaN       NaN
Normandie                   7.150000       NaN       NaN       NaN
Nouvelle-Aquitaine               NaN       NaN  7.293548       NaN
Occitanie                        NaN       NaN       NaN  9.603333
Pays de la Loire            6.563158       NaN       NaN       NaN
Provence-Alpes-Côte d'Azur  8.864706       NaN       NaN       NaN